/* =====================
# BREADCRUMB
===================== */
.breadcrumb ol {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	//gap: 0.5rem;
	align-items: center;

	li {
		color:var(--color-text-primary);
		font-size: 0.75rem;
		text-transform:uppercase;
		font-weight: bold;

		&::after {
			content: "/";
			margin: 0 0.5rem;
			color: color-mix(in srgb, var(--brand-primary) 90%, $white-color);
		}		

		&:last-child::after {
			content: "";
		}		

		a {
			color: color-mix(in srgb, var(--brand-primary) 90%, $white-color);
			font-size: 0.75rem;
		
			&:hover {
				text-decoration: underline;
				color:var(--brand-primary);
				.icon{color:var(--brand-primary);}
			}	

			.icon{
				color: color-mix(in srgb, var(--brand-primary) 90%, $white-color);
				margin-right: 0.25rem;
			}			
			
		}

	}

}