/* =====================
# box
===================== */
.box{
  display: grid;
  gap: 0.5rem;
}

.box-header {
  padding:1rem;  
  background-color:var(--tertiary-color);
  background-clip: border-box;  
  border:1px solid var(--tertiary-color);  
  border-radius: 0.5rem;
  p{margin:0;}  
} 

.box-body{
  display: grid;
  gap: 0.5rem;

  .box-item {
    padding:1rem;  
    background-color:var(--primary-color);
    background-clip: border-box;  
    border:1px solid var(--tertiary-color);  
    border-radius: 0.5rem;
    p{margin:0;}    
    &:nth-child(even) {background-color: var(--secondary-color); }
    &:hover {background-color: var(--tertiary-color); } 
  }     
}