/* =====================
# box
===================== */
.box{
  display: grid;
  gap: 0.5rem;
  p{margin:0;}  
}

/* # Box-header
----------------------------------------------- */
.box-header {
  padding:1rem;  
  background-color:var(--tertiary-color);
  background-clip: border-box;  
  border:1px solid var(--tertiary-color);  
  border-radius: 0.5rem;
} 

/* # Box-body
----------------------------------------------- */
.box-body{
  display: grid;
  gap: 0.5rem;

  .box-item {
    padding:1rem;  
    background-color:var(--primary-color);
    background-clip: border-box;  
    border:1px solid var(--tertiary-color);  
    border-radius: 0.5rem;
    p{
      color:var(--primary-text-color);
      margin:0;
    }    
    &:nth-child(even) {background-color: var(--secondary-color); }
    &:hover {background-color: var(--tertiary-color); } 

    &.success{
      background-color:lighten($success-color, 40%);     
      border-color:$success-color; 
      p{
        color:$success-color;
        font-weight:400;
      }          
    }

    &.warning{
      background-color:lighten($warning-color, 40%);      
      border-color:$warning-color; 
      p{
        color:$warning-color;
        font-weight:400;
      }          
    }    

  }     
}