/* =====================
# CARD
===================== */
.card {
  background-color:var(--primary-color);
  background-clip: border-box;
  border-radius: 0.5rem;
  border:1px solid var(--secondary-color);
  transition: background-color 0.2s ease, border-color 0.2s ease;

  .card-header {
    padding: 1rem 1rem;
    border-radius:0.5rem 0.5rem 0 0;
    border-bottom: 1px solid var(--secondary-color);
  }    

  .card-body {
    padding:1rem;
  }     

  .card-footer {
    padding:1rem;
    border-radius:0 0 0.5rem 0.5rem ;      
    text-align: left;
    border-top: 1px solid var(--secondary-color);

    p{word-break: break-all;}      
  }     

  &.card-highlight {
    background-color:color-mix(in srgb, var(--highlight-color) 90%, $white-color);
    h1,h2,h3,h4,h5,h6{color:var(--primary-color);}
    p{color:var(--primary-color);}
    i {color: var(--primary-color);}
    border-color:var(--highlight-color);
    .card-header,
    .card-footer {
      border-color: var(--highlight-color);
    } 
  }  
  &.card-success {
    background-color:lighten($success-color, 10%);
    h1,h2,h3,h4,h5,h6{color:var(--primary-color);}
    p{color:var(--primary-color);}
    i {color: var(--primary-color);}
    border-color:$success-color;    
    .card-header,
    .card-footer {
      border-color: $success-color;
    }
  }
  &.card-danger {
    background-color:lighten($danger-color, 10%);
    h1,h2,h3,h4,h5,h6{color:var(--primary-color);}
    p{color:var(--primary-color);}
    i {color: var(--primary-color);}
    border-color:$danger-color;    
    .card-header,
    .card-footer {
      border-color: $danger-color;
    }     
  }    
&.card-warning {
    background-color:lighten($warning-color, 10%);
    h1,h2,h3,h4,h5,h6{color:var(--primary-color);}
    p{color:var(--primary-color);}
    i {color: var(--primary-color);}
    border-color:$warning-color;    
    .card-header,
    .card-footer {
      border-color: $warning-color;
    }    
  }    
}

//Si la tarjeta tiene enlace
a.card {
  &:hover{background-color: var(--tertiary-color);}     

  &.card-highlight {
    &:hover{background-color: var(--highlight-color);}
  }  
  &.card-success {
    &:hover{background-color: var(--success-color);}    
  }
  &.card-danger {
    &:hover{background-color: var(--danger-color);}    
  }    
  &.card-warning {
    &:hover{background-color: var(--warning-color);}        
  }    
}