/* =====================
# ICONS
===================== */
i{
  font-size: 1rem;
  color: var(--primary-text-color);
}

/*
fa-2xl
fa-xl
*/
.icon-sm { width: 16px; height: 16px; }
.icon-md { width: 24px; height: 24px; }
.icon-lg { width: 40px; height: 40px; }

/* # Background colors
----------------------------------------------- */
.bg-default i{color: var(--highlight-color);}
.bg-light i{color: var(--highlight-color);}
.bg-dark i{color: var(--highlight-color);}
.bg-darker i{color: var(--highlight-color);}
.bg-success i{color: var(--highlight-color);}
.bg-danger i{color: var(--highlight-color);}