@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot');
  src:  url('../icons/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf') format('truetype'),
    url('../icons/icomoon.woff') format('woff'),
    url('../icons/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-face-smile:before {
  content: "\e928";
}
.icon-face-frown:before {
  content: "\e929";
}
.icon-face-sad-tear:before {
  content: "\e92a";
}
.icon-face-smile-beam:before {
  content: "\e92b";
}
.icon-check-circle:before {
  content: "\e924";
}
.icon-exclamation-triangle:before {
  content: "\e925";
}
.icon-hand-thumb-down:before {
  content: "\e926";
}
.icon-hand-thumb-up:before {
  content: "\e927";
}
.icon-solid-pencil-square:before {
  content: "\e923";
}
.icon-arrow-long-down:before {
  content: "\e918";
}
.icon-arrow-long-left:before {
  content: "\e919";
}
.icon-arrow-long-right:before {
  content: "\e91a";
}
.icon-arrow-long-up:before {
  content: "\e91b";
}
.icon-chevron-down:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e91d";
}
.icon-chevron-right:before {
  content: "\e91e";
}
.icon-chevron-up:before {
  content: "\e91f";
}
.icon-minus:before {
  content: "\e920";
}
.icon-solid-moon:before {
  content: "\e921";
}
.icon-solid-sun:before {
  content: "\e922";
}
.icon-document-arrow-up:before {
  content: "\e900";
}
.icon-arrow-right-start-on-rectangle:before {
  content: "\e901";
}
.icon-bars-3:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-chat-bubble-oval-left:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-clipboard:before {
  content: "\e906";
}
.icon-clipboard-document-check:before {
  content: "\e907";
}
.icon-cog-6-tooth:before {
  content: "\e908";
}
.icon-document-check:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-flag:before {
  content: "\e90b";
}
.icon-Home:before {
  content: "\e90c";
}
.icon-moon:before {
  content: "\e90d";
}
.icon-pencil-square:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-presentation-chart-line:before {
  content: "\e910";
}
.icon-question-mark-circle:before {
  content: "\e911";
}
.icon-sun:before {
  content: "\e912";
}
.icon-trash:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
.icon-user-circle:before {
  content: "\e915";
}
.icon-user-group:before {
  content: "\e916";
}
.icon-x-mark:before {
  content: "\e917";
}
