.toast-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  z-index: 9999;
}

.toast {
  min-width: 250px;
  max-width: 320px;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* estado de salida */
.toast.hide {
  opacity: 0;
  transform: translateY(20px);
}

.toast.success {background-color: $success-color;}
.toast.error {background-color: $danger-color;}
.toast.info {background-color: var(--highlight-color);}

.toast button {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}