.dac-progress {
  --progress-value: 0%;
  width: 100%;
  height: 18px;
  position: relative;
  background: var(--tertiary-color);
  border-radius: 999px;
  overflow: hidden;
}

/* Barra */
.dac-progress__bar {
  width: var(--progress-value);
  height: 100%;
  border-radius: inherit;
  transition: width 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Texto */
.dac-progress__label {
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-color);
  white-space: nowrap;
  pointer-events: none;
  padding: 0 8px;
}

/* Estados */
.bg-success .dac-progress__bar {background: $success-color;}
.bg-info .dac-progress__bar {background: var(--highlight-color);}
.bg-warning .dac-progress__bar {background: $warning-color;}
.bg-danger .dac-progress__bar {background: $danger-color;}

/* Tamaños opcionales */
.progress-sm {height: 10px;}
.progress-lg {height: 26px;}