/* =====================
# SISTEMA EVALUACIONES
===================== */
/* # Face-item
----------------------------------------------- */
  .face-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 0.5rem;

    i {
      color: var(--fourth-color);
      font-size: 2rem;
    }

    p {
      color: var(--fourth-color);
      font-weight: bold;
      font-size: 90%;
      margin: 0;
    }

    &.danger i,
    &.danger p {
      color: $danger-color;
    }

    &.warning i,
    &.warning p{
      color: $warning-color;
    }

    &.highlight i,
    &.highlight p {
      color:var(--highlight-color);
    }

    &.success i,
    &.success p     {
      color: $success-color;
    }
  }

/* # Moods
----------------------------------------------- */
.moods {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  min-width: 30%;

  button{
  all: unset;
  cursor: pointer;    
  }

  .face-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 0.5rem;
    
    cursor: pointer;
    transition: all 0.2s ease;

    i {
      transition: color 0.2s ease;
      color: var(--fourth-color);
      font-size: 2rem;
    }

    p {
      color: var(--fourth-color);
      transition: color 0.2s ease;
      font-weight: bold;
      font-size: 90%;
      margin: 0;
    }

    &.danger:hover i,
    &.danger:hover p,
    &.danger.active i,
    &.danger.active p {
      color: $danger-color;
    }

    &.warning:hover i,
    &.warning:hover p,
    &.warning.active i,
    &.warning.active p{
      color: $warning-color;
    }

    &.highlight:hover i,
    &.highlight:hover p,
    &.highlight.active i,
    &.highlight.active p {
      color:var(--highlight-color);
    }

    &.success:hover i,
    &.success:hover p,
    &.success.active i,
    &.success.active p     {
      color: $success-color;
    }
  }
}

/* =====================
# Contributor-ratings
===================== */
.contributor-ratings{
  display: flex;

  .contributor-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    padding: 0 1rem;
    border-right: 1px solid var(--fourth-color);
    &:last-child {
      border-right: none;
      /*
      background-color: var(--highlight-color);
      h5{color:var(--primary-color);}
      .contributor-text{
        p{color:var(--primary-color);}
      }
      padding: 0.5rem;
      border-radius: 0.5rem;
      */
    }

    .contributor-text{
      display: flex;
      flex-direction: column;
      align-items: center;      
      p{
        font-size: 80%;
        line-height: 0.850rem;
        color:var(--primary-text-color);
        font-weight: 400;
      }
    }

  }
}