/* =====================
# TABLE GRID 7
===================== */

.tg7-responsive {
  width: 100%;
  overflow-x: auto;
}

.tg7-table {
  display: grid;
  gap: 0.5rem;

  /* fallback */
  --tg7-cols: repeat(7, minmax(120px, 1fr));
}

/* =====================
# STRUCTURE
===================== */

.tg7-head,
.tg7-body,
.tg7-foot {
  display: grid;
  gap: 0.5rem;
}

/* =====================
# ROW
===================== */

.tg7-row {
  display: grid;

  grid-template-columns: var(--tg7-cols);

  align-items: center;
  gap: 1rem;

  min-width: max-content;

  padding: 1rem;

  border: 1px solid var(--tertiary-color);
  border-radius: 0.5rem;

  background-color: var(--primary-color);

  transition: all 0.2s ease;
}

/* =====================
# HEADER
===================== */

.tg7-head .tg7-row {
  background-color: var(--tertiary-color);
  color: var(--highlight-color);
  font-weight: 700;
}

/* =====================
# BODY
===================== */

.tg7-body .tg7-row:nth-child(even) {
  background-color: var(--secondary-color);
}

.tg7-body .tg7-row:hover {
  background-color: var(--tertiary-color);
}

/* =====================
# CELLS
===================== */

.tg7-cell {
  display: flex;
  align-items: center;

  min-width: 0;
  word-break: break-word;
}

/* =====================
# ALIGNMENTS
===================== */

.tg7-center {
  justify-content: center;
}

.tg7-right {
  justify-content: flex-end;
}

/* =====================
# STATES
===================== */

.tg7-row.success {
  border-color: $success-color;
  background-color: rgba($success-color, 0.1);
}

.tg7-row.warning {
  border-color: $warning-color;
  background-color: rgba($warning-color, 0.1);
}

.tg7-row.success .tg7-cell {
  color: $success-color;
}

.tg7-row.warning .tg7-cell {
  color: $warning-color;
}