/* =====================
# UPLOAD_FILES
===================== */
.file_upload input[type="file"] {
	width: 100%;
	padding: 10px;
	background-color: var(--color-canvas);
	border: 1px solid $border-subtle;
	border-radius: var(--radius-xs);
	cursor: pointer;
	font-size: var(--fs-sm);
}

.file_upload input[type="file"]:hover {
	border-color: var(--brand-primary);
}